
.hero__{
	width: 100%;
	height: 88%;
	display: block;
	background-image: url(../img/jeep-bg.png);
	background-repeat: no-repeat;
	background-size: cover;

	.hero__container-wrapper{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
    	align-items: flex-end;
    	justify-content: space-around;
	}


	.hero__sub-cont{
		width: 310px;
		height: 200px;

		img{
			width: 100%;
			height: 100%;
			padding-bottom: 10%
		}
	}



	.large-box{
		width: 430px;
		height: 200px;

		img{
			@include maxwh;
		    padding-bottom: 5.5%

		}
	}



}

