@import 'variables';
@import 'nav';  
@import 'hero';
@import 'footer';
@import '2nd-page-hero';


html{
	width: 100%;
	height: 100%;

}

body{
	width: 100%;
	height: 100%;
}


* {
	box-sizing: border-box;
}




