.nav__ {
  display: flex;
  width: 100%;
  height: 60px;
  background: linear-gradient(0deg, #000, #333 60%);
  align-items: center; }
  .nav__ ul {
    display: flex;
    justify-content: space-around;
    height: 100%; }
  .nav__ form {
    width: 39.92647059%;
    position: absolute;
    left: 23.23529412%;
    height: 60px; }
  .nav__ li {
    color: #a0a09e;
    font-family: arial, helvetica, sans-serif;
    height: 100%;
    display: flex;
    align-items: center; }
  .nav__ #nav__logo {
    width: 137px;
    height: 14%;
    background-image: url(../img/sprite_nav.png);
    position: absolute;
    /* margin-right: 17%; */
    background-repeat: no-repeat;
    background-position: 139%;
    background-position-x: 41%;
    background-position-y: 26%;
    left: 14%; }
  .nav__ #nav__barcode-icon {
    width: 68px;
    height: 23%;
    background-image: url(../img/sprite_nav.png);
    position: absolute;
    /* margin-right: 17%; */
    background-repeat: no-repeat;
    background-position: 139%;
    background-position-x: 57%;
    background-position-y: 26%;
    right: 16.25%; }

.hero__ {
  width: 100%;
  height: 88%;
  display: block;
  background-image: url(../img/jeep-bg.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .hero__ .hero__container-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-content: space-around; }
  .hero__ .hero__sub-cont {
    width: 310px;
    height: 200px; }
    .hero__ .hero__sub-cont img {
      width: 100%;
      height: 100%;
      padding-bottom: 10%; }
  .hero__ .large-box {
    width: 430px;
    height: 200px; }
    .hero__ .large-box img {
      width: 100%;
      height: 100%;
      padding-bottom: 5.5%; }

footer {
  width: 100%;
  height: 483px;
  background: linear-gradient(0deg, #000, #333 60%);
  border-top: 2px solid  #444; }
  footer .link-wrap {
    display: flex;
    justify-content: space-around; }
  footer li {
    color: #a0a09e;
    font-size: 12px;
    margin-bottom: 6px;
    font-family: arial, helvetica, sans-serif; }
  footer div {
    padding-top: 3%; }
  footer h4 {
    font-size: 16px;
    margin-bottom: 5px;
    color: white;
    font-family: arial, helvetica, sans-serif; }
  footer .legal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 24px; }
  footer p {
    color: #a0a09e;
    width: 80%;
    margin-bottom: 30px;
    margin-left: 5.5%;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif; }

body, html {
  width: 100%;
  height: 100%;
  background-color: #222222; }

a {
  text-decoration: none;
  list-style-type: none;
  color: #a0a09e; }

.hero__p2 {
  width: 100%;
  height: 500px;
  background-image: url("../img/wrangler-main.jpg");
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover; }
  .hero__p2 .hero__text-wrap {
    margin-top: 35px;
    margin-left: 60px;
    font-family: arial, helvetica, sans-serif; }
    .hero__p2 .hero__text-wrap .hero__large-text {
      font-size: 42px;
      width: 35%; }
    .hero__p2 .hero__text-wrap .hero__smaller-text {
      font-size: 22px; }
    .hero__p2 .hero__text-wrap h1 {
      color: #FEFFFF;
      margin-bottom: 20px; }
    .hero__p2 .hero__text-wrap p {
      color: #FEFFFF;
      width: 23%; }

.jeep-description__wrap {
  background-color: white;
  width: 93%;
  margin-left: 3.294289898%;
  margin-right: 3.294289898%;
  border-radius: 8px; }
  .jeep-description__wrap .jeep-description__label {
    width: 100%;
    height: 233px;
    display: flex;
    font-family: arial, helvetica, sans-serif; }
    .jeep-description__wrap .jeep-description__label h1 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 3%; }
    .jeep-description__wrap .jeep-description__label h2 {
      font-size: 27px; }
    .jeep-description__wrap .jeep-description__label h5 {
      font-size: 12px;
      width: 73%; }
    .jeep-description__wrap .jeep-description__label .jeep-description__sales-price {
      margin-top: 25px;
      margin-left: 3%; }
    .jeep-description__wrap .jeep-description__label .jeep-description__lease-price {
      margin-top: 25px; }
    .jeep-description__wrap .jeep-description__label .jeep-description__classic-img {
      position: absolute;
      right: 6%;
      top: 86%; }

.award__ {
  width: 100%;
  height: 91px;
  background-image: url(../img/awards-background.jpg);
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  left: 0%;
  top: -13%;
  width: 93%;
  margin-left: 3.294289898%;
  margin-right: 3.294289898%;
  border-radius: 8px;
  justify-content: center;
  align-items: center; }
  .award__ .bold-award {
    font-weight: bold; }
  .award__ .award__pic {
    position: absolute;
    left: 30%; }
    .award__ .award__pic img {
      width: 80%; }
  .award__ p {
    margin-bottom: .5%; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%; }

* {
  box-sizing: border-box; }

/*# sourceMappingURL=main.css.map */
